<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aesthetics_enginers">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utility.UserClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aesthetics_Enginers">
        <activity android:name=".RecycleViews.Workout_Full_Page"></activity>
        <activity android:name=".RecycleViews.Exercise_Guide_Full_Page" />
        <activity android:name=".RecycleViews.Exercise_Guide_RecycleView" />
        <activity android:name=".User_Account.Profile" />
        <activity android:name=".Workout_Log" />
        <activity android:name=".Manage_My_Workouts" />
        <activity android:name=".Exercise_Guide" />
        <activity android:name=".Workouts" />
        <activity android:name=".User_Account.ForgotPassword" />
        <activity android:name=".User_Account.Register" />
        <activity android:name=".User_Account.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>